.App {
  text-align: center;

}
.border{
  border: 2px solid #000;
  width: 500px;
  margin-top:  10px;
  margin-left: 500px ;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul{
  padding: 0;
}
.list {
  border: 2px solid #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 10px;
  text-align: center;
}
.btn{
  margin-top: 80px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
}
.btn:focus{
  border: 2px solid firebrick;
}

